# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

#static_files
staticfiles/
test_*

# Environment
.env
.env.local
.env.*.local
*.sh


# Django
*.log

# IDE
.vscode/
.idea/
*.swp
/__pycache__

# Bat and log test files 
.exe
.bat


# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage/

# Vite specific
.vite/

# Optional: if using TypeScript
*.tsbuildinfo

# Optional: if using ESLint
.eslintcache

# Optional: if using Prettier
.prettiercache

# Optional: if using Storybook
storybook-static/

# Optional: if using Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Optional: if using Playwright
/test-results/
/playwright-report/
/playwright/.cache/
